@import "../../styles/Partials/variables";
@import "../../styles/Partials/mixins";

.cta-button {   
    width: 100%;
    height: 2.5rem;
    border: none;
    border-radius: 4px;
    background-color: $BrainFlix-Blue;
    color: $White;
    position: relative;
    text-transform: uppercase;
    font-family: avenirBold;
    padding-top: 3px;
    margin-top: 1rem;
    cursor: pointer;

    @include tablet {
        width: 170px;
        margin-top: 0;
        margin-left: 1rem;
        order:2;
        &:hover {
            background-color: $BrainFlix-DarkBlue;
        }
    }

    &__icon {
        position: absolute;
        left: 0.5rem;
        top: 0.5rem;
    }
}

.cancel-button {
    width: fit-content;
    height: fit-content;
    border: none;
    border-radius: 4px;
    background-color: $White;
    color: $BrainFlix-Blue;
    position: relative;
    text-transform: uppercase;
    font-family: avenirBold;
    cursor: pointer;
    &__icon {
        display: none;
    }

    @include tablet {
        margin-top: 0;
        margin-left: 1rem;
        order:2;
    }
}

