@import "../../styles/Partials/variables";
@import "../../styles/Partials/mixins";

.comment {
    display: flex;
    align-items: flex-start;
    margin: 1rem 0;
    padding: 0 0 1rem 0;
    border-bottom: 1px solid $Mercury;
    @include desktop {
        padding: 1rem 2rem 0 0;
        border-bottom: none;
        border-top: 1px solid $Mercury;
    }

    &__avatar {
        width:  2.25rem;
        height: 2.25rem;
        border-radius: 50%;
        object-fit: cover;
        object-position: -5px;
        background-color: $Mercury;
        margin-right: 1rem;
    }
    &--right {
        flex:1;
    }
    &__top {
        display: flex;
        justify-content: space-between;
    }
    &__title {
       font-family: avenirbold;
    }
    &__timestamp {
        color: $Silver;
    }
    &__text {
        margin-top: 0.5rem;
        color: $BrainFlix-Black;
    }
    &__delete-button {
        margin-top: 1rem;
        background-color: white;
        border: none;
        &:active {
            transform: scale(0.90);
        }
    }
    &__delete-icon {
        width: 15px;
        height: 15px;
    }
}