@import "../../styles/Partials/variables";
@import "../../styles/Partials/mixins";

.site-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        margin: 0 3rem;
    }
    &--top {
        width: 100%;
        text-align: center;
        padding-top: 0.5rem;
        @include tablet {
            width: fit-content;
            padding: 0;
        }
    }
    &--bottom {
        margin: 0.5rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        @include tablet {
            flex-direction: row;
        }
    }
    &__toggle-mode {
        background-color: white;
        border-radius: 50px;
        border: 1px solid $Mercury;
        width: 50px;
        height: 25px;
        padding: 0 3px;
        position: relative;
        cursor: pointer;
        &dark {
            background-color: $BrainFlix-Black;
            border-radius: 50px;
            border: 1px solid $Silver;
            width: 50px;
            height: 25px;
            padding: 0 3px;
            position: relative;
            cursor: pointer;
        }
        &--inner {
            width: 18px;
            height: 18px;
            background-color: $BrainFlix-Black;
            border-radius: 50px;
            transition: 0.15s linear;
            &dark{
                width: 18px;
                height: 18px;
                background-color:$Alabaster;
                border-radius: 50px;   
                transform:translateX(24px);
                transition: 0.15s linear;
            }
        }
    }

    &__logo {
        max-height: 25px;
        max-width: 120px;
    }
    &__form {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        @include tablet {
            gap: 1rem;
        }
    }
    &__search-bar {
        flex:1;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $Mercury;
        border-radius: 4px;
        background-color: $Alabaster;
        padding: 10px;
        height: 2.25rem;
        min-width: 220px;
        max-width: 100%;
        @include tablet {
            order:1;
            height: 2.5rem;
        }
        
        &-input{
            flex:1;
            border: none;
            margin-left: 1rem;
            background-color: $Alabaster;

            &:focus {
                outline: none;
            }
        }

    }
    &__avatar {
        width:  2.25rem;
        height: 2.25rem;
        border-radius: 50%;
        object-fit: cover;
        object-position: -5px;
        background-color: $Mercury ;
        margin-left: 1rem;
        @include tablet {
            order:3;
            margin: 0;
        }
    }
}

.dark {
    background-color: $BrainFlix-Black;
}
