@import "../../styles/Partials/variables";

.site-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 1rem;

    &--top {
        width: 100%;
        text-align: center;
    }
    &--bottom {
        margin: 0.5rem 0;
    }
    &__logo {
        max-height: 25px;
        max-width: 120px;
    }
    &__form {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    &__search-bar {
        flex:1;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $Mercury;
        border-radius: 4px;
        background-color: $Alabaster;
        padding: 10px;
        height: 2.25rem;
        min-width: 220px;
        max-width: 100%;
        &-input{
            flex:1;
            border: none;
            margin-left: 1rem;
            background-color: $Alabaster;

            &:focus {
                outline: none;
            }
        }

    }
    &__avatar {
        width:  2.25rem;
        height: 2.25rem;
        border-radius: 50%;
        object-fit: cover;
        object-position: -5px;
        background-color: $Mercury ;
        margin-left: 1rem;
    }
}
