@import "../../styles/Partials/variables";
@import "../../styles/Partials/mixins";

.video-player {
    width: 100%;
    aspect-ratio: 16/9;
    background-color: #000000;
    max-height: 80vh;
    &__wrapper {
        position: relative;
    }
    &__controls[data-state="hidden"] {
        display: none;
    }
    &__controls[data-state="visible"]{
        width: 100%;
        height: 20px;
        position: absolute;
        bottom: 5px;
        padding: 0 0.5rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        background-color:rgb(28, 28, 28);
        @include tablet {
            height: 40px;
            padding: 0.5rem 1rem;
        }
    }
    &__play{
        width: 15px;
        height: 90%;
        background-color: transparent;
        background-image: url(../../assets/Icons/play.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border: none;
        cursor: pointer;
    }
    &__pause{
        width: 15px;
        height: 90%;
        background-color: transparent;
        background-image: url(../../assets/Icons/pause.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border: none;
        cursor: pointer;
    }
    &__progress-wrapper {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
        width: 100%;
        height: 100%;
    }
    &__progress-bar {
        width: 100%;
        height: 5px;
        border: none;
        color: #0095dd;
        border-radius: 2px;
    }
    &__progress-time {
        color: white;
        white-space: nowrap;
    }
    &__muted {
        width: 25px;
        height: 90%;
        background-color: transparent;
        background-image: url(../../assets/Icons/volume_off.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border: none;
        cursor: pointer;
        @include tablet {
            width: 35px;
        }
    }
    &__unmuted {
        width: 25px;
        height: 90%;
        background-color: transparent;
        background-image: url(../../assets/Icons/volume_up.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border: none;
        cursor: pointer;
        @include tablet {
            width: 35px;
        }
    }
    &__volup {
        width: 25px;
        height: 90%;
        background-color: transparent;
        background-image: url(../../assets/Icons/volume_up.svg);
        background-repeat: no-repeat;
        background-size: 70%;
        background-position: left;
        font-size: 0.5rem;
        color: white;
        text-align: right;
        margin-left: auto;
        border: none;
        cursor: pointer;
        @include tablet {
            background-size: contain;
            width: 35px;
            font-size: 0.75rem;
        }
        @include desktop{
            font-size: 1rem;
        }
    }
    &__voldown {
        width: 25px;
        height: 90%;
        background-color: transparent;
        background-image: url(../../assets/Icons/volume_up.svg);
        background-repeat: no-repeat;
        background-position: left;
        background-size: 70%;
        font-size: 0.5rem;
        color: white;
        text-align: right;
        margin-right: auto;
        border: none;
        cursor: pointer;
        @include tablet {
            background-size: contain;
            width: 35px;
            font-size: 0.75rem;
        }
        @include desktop{
            font-size: 1rem;
        }
    }
    &__fs{
        width: 25px;
        height: 90%;
        background-color: transparent;
        background-image: url(../../assets/Icons/fullscreen.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border: none;
        cursor: pointer;
        @include tablet {
            width: 35px;
        }
    }
}