@import "../../styles/Partials/variables";
@import "../../styles/Partials/mixins";

.video {
    display: flex;
    align-items: center;
    color: $BrainFlix-Black;
    margin: 1rem 0;

    &--left {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__image {
        width: 110px;
        height: 65px;
        object-fit: cover;
        border-radius: 4px;
        
    }
    &--right {
        flex:2;
        height: 65px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        margin-left: 1rem;
    }
    &__title {
        font-weight: 700;
    }
    &__channel {
       font-weight: 300;
    }
}